<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/Introduction_to_ML_Missing_values_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://www.kaggle.com/enzodeniko/exercise-missing-values/edit

from google.colab import files
upload_1 = files.upload()
upload_2 = files.upload()

Saving train.csv to train.csv

Saving test.csv to test (1).csv

In [0]:
import pandas as pd
seen_data = pd.read_csv('train.csv', index_col='Id')
unseen_data = pd.read_csv('test.csv', index_col='Id')

In [5]:
seen_data.columns   #We have SalePrice

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [7]:
unseen_data.columns  # In this dataset we do not have price for any home so we should predict them

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition'],
      dtype='object')

# Dropna()
[Dropna()](https://www.geeksforgeeks.org/python-pandas-dataframe-dropna/)

Sometimes csv file has null values, which are later displayed as NaN in Data Frame. Pandas dropna() method allows the user to analyze and drop Rows/Columns with Null values in different ways.

**Parameters:**

**subset** : array-like, optional

Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

**axis:**  
axis takes int or string value for rows/columns. Input can be 0 shift in row or 1 shift in columns for Integer and ‘index’ or ‘columns’ for String.

0, or ‘index’ : Drop rows which contain missing values.

1, or ‘columns’ : Drop columns which contain missing value

**how:**
how takes string value of two kinds only (‘any’ or ‘all’). ‘any’ drops the row/column if ANY value is Null and ‘all’ drops only if ALL values are null.

**thresh:**
thresh takes integer value which tells minimum amount of na values to drop.
subset: It’s an array which limits the dropping process to passed rows/columns through list.

**inplace:**
If True, do operation inplace and return None.

In [0]:
# There are some NaN in SalePrice rows so we can simply remove them with dropna.

#y = seen_data.SalePrice   -------- First we need to clean this column from NaN values

seen_data.dropna(axis=0 ,subset=['SalePrice'], inplace=True)   # drop in row forms
y = seen_data.SalePrice

In [0]:
# Separate target(SalePrice) from predictors(all other columns)
# Now we want seen data without this SalePrice column

seen_data.drop(['SalePrice'],axis=1, inplace=True)

In [0]:
# To keep things simple, we'll use only numerical predictors for both seen and unseen data

X = seen_data.select_dtypes(exclude=['object'])   #exclude mean Mahroom Kardan !
X_test = unseen_data.select_dtypes(exclude=['object'])

In [0]:
# Break off validation set from training data

from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val = train_test_split(X,y, train_size=0.8, test_size=0.2, random_state=0)

In [17]:
X_train.head()   #We can see there are some NaN values so we want to count how much we have Nan values

     MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                     ...
619          20         90.0    11694  ...        0       7    2007
871          20         60.0     6600  ...        0       8    2009
93           30         80.0    13360  ...        0       8    2009
818          20          NaN    13265  ...        0       7    2008
303          20        118.0    13704  ...        0       1    2006

[5 rows x 36 columns]

In [18]:
print(X_train.shape)  #Row = 1168  Columns=36

(1168, 36)

In [20]:
missing_values_in_columns = (X_train.isnull().sum())
print(missing_values_in_columns)  # This is so ugly we need to show those which are greater than 0

MSSubClass         0
LotFrontage      212
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         6
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       58
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [21]:
print(missing_values_in_columns[missing_values_in_columns>0])

LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

In [0]:
num_rows = 1168
num_cols_with_missing = 3
tot_missing = 212+6+58

Since there are relatively few missing entries in the data (the column with the greatest percentage of missing values is missing less than 20% of its entries), we can expect that dropping columns is unlikely to yield good results. This is because we'd be throwing away a lot of valuable data, and so imputation will likely perform better.

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def get_score(X_train, X_val, y_train, y_val):
  my_model = RandomForestRegressor(n_estimators=100, random_state=0)  #n_estimatores= number of trees
  my_model.fit(X_train, y_train)
  prediction= my_model.predict(X_val)
  return mean_absolute_error(y_val, prediction)

# First Approach : Dropping those coloumns which have missing values "NaN"

In [34]:
# Fill in the line below: get names of columns with missing values (there were 3 columns with missing values)
# columns are same in both X_train and X_val so we need to find their names once in one of them

cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

print(cols_with_missing)   #['LotFrontage', 'MasVnrArea', 'GarageYrBlt']  36-3=33 remains

# Fill in the lines below: drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_val = X_val.drop(cols_with_missing, axis=1)

print(reduced_X_train.head())
print(reduced_X_val.head())

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']
     MSSubClass  LotArea  OverallQual  ...  MiscVal  MoSold  YrSold
Id                                     ...
619          20    11694            9  ...        0       7    2007
871          20     6600            5  ...        0       8    2009
93           30    13360            5  ...        0       8    2009
818          20    13265            8  ...        0       7    2008
303          20    13704            7  ...        0       1    2006

[5 rows x 33 columns]
     MSSubClass  LotArea  OverallQual  ...  MiscVal  MoSold  YrSold
Id                                     ...
530          20    32668            6  ...        0       3    2007
492          50     9490            6  ...        0       8    2006
460          50     7015            5  ...        0       7    2009
280          60    10005            7  ...        0       3    2008
656         160     1680            6  ...        0       3    2010

[5 rows x 33 columns]

In [35]:
print("MAE (Drop columns with missing values):")
print(get_score(reduced_X_train, reduced_X_val, y_train, y_val))

MAE (Drop columns with missing values):
17837.82570776256

# Second Approach : Imputing those coloumns which have missing values "NaN"


Use the next code cell to impute missing values with the mean value along each column.

In [0]:
from sklearn.impute import SimpleImputer

# imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))  
# When we are imputing our training data we again need to fit or train them with these new amounts after that we press them
imputed_X_val = pd.DataFrame(my_imputer.transform(X_val)) 
#  We do not need to train our test or val data so after imputing we only need to transform them.

In [40]:
print("MAE (Imputation):")
print(get_score(imputed_X_train, imputed_X_val, y_train, y_val))

MAE (Imputation):
18062.894611872147

Given that thre are so few missing values in the dataset, we'd expect imputation to perform better than dropping columns entirely. However, we see that dropping columns performs slightly better! While this can probably partially be attributed to noise in the dataset, another potential explanation is that the imputation method is not a great match to this dataset. That is, maybe instead of filling in the mean value, it makes more sense to set every missing value to a value of 0, to fill in the most frequently encountered value, or to use some other method. For instance, consider the GarageYrBlt column (which indicates the year that the garage was built). It's likely that in some cases, a missing value could indicate a house that does not have a garage. Does it make more sense to fill in the median value along each column in this case? Or could we get better results by filling in the minimum value along each column? It's not quite clear what's best in this case, but perhaps we can rule out some options immediately - for instance, setting missing values in this column to 0 is likely to yield horrible results!

# Better Imputation to get better result

In [0]:
# Imputation
final_imputer = SimpleImputer(strategy='median')    # We put this strategy and made our model more powerfull now
final_X_train = pd.DataFrame(final_imputer.fit_transform(X_train))
final_X_val = pd.DataFrame(final_imputer.transform(X_val))

# Imputation removed column names; put them back
final_X_train.columns = X_train.columns
final_X_val.columns = X_val.columns

In [42]:
# Define and fit model  --- we need to train our model with this new X_train data
model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(final_X_train, y_train)

# Get validation predictions and MAE   --- we need to predict SalePrice with this new X_val data
preds_val = model.predict(final_X_val)
print("MAE (Your appraoch):")
print(mean_absolute_error(y_val, preds_val))

MAE (Your appraoch):
17791.59899543379

# Use it now for Unseen or test data

In [0]:
# Preprocess test data
final_X_test = pd.DataFrame(final_imputer.transform(X_test))

# Get test predictions
preds_test = model.predict(final_X_test)

In [0]:
# Save test predictions to file
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)