<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/Model_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model Validation

---

For validating of our model accuracy, we need to summarize our data from for example 10.000 to a single metric. There are many metrics for summarizing model quality, but we'll start with one called **Mean Absolute Error** (also called **MAE**).

The prediction error for each house is: 


```
error=actualâˆ’predicted
```

In [1]:
from google.colab import files
uploaded= files.upload()

Saving melb_data.csv to melb_data.csv

In [4]:
import pandas as pd
mel_data = pd.read_csv('melb_data.csv')
mel_data.describe()  #we can see all data in a table

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [6]:
mel_data.columns 
#we can see all lable for columns to choose features= X and target = y from them

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

With this line we ignore missing data in our table

In [0]:
mel_data = mel_data.dropna(axis=0)

Selecting perecting value and save as y, This will save all prices in a single column

In [18]:
print(mel_data.Price)
y = mel_data.Price

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
9        1097000.0
11       1350000.0
12        750000.0
15       1310000.0
16       1200000.0
17       1176500.0
19        890000.0
20       1330000.0
23        500000.0
24       1100000.0
25       1315000.0
27       1447500.0
29       1135000.0
32       1290000.0
33        470000.0
34       1180000.0
35       1195000.0
36       1012500.0
37       1030000.0
38        840000.0
39        730000.0
40        770000.0
41        603000.0
42        700000.0
43        600000.0
           ...
12154     880000.0
12156     945000.0
12157     730000.0
12159     980000.0
12164     570000.0
12168     600000.0
12169     360000.0
12171     475000.0
12172     495000.0
12173     695000.0
12174     760000.0
12175     583500.0
12177     585000.0
12180    1245000.0
12181    2000000.0
12183     407000.0
12186     891000.0
12187     615500.0
12188     300000.0
12192    1310000.0
12197     645000.0
12198     482500.0
12199     394000.0
12202     821000.0
12203     635000.0
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

Selecting some feature valuse and save in a list, then reasign it to mel_data[] with these new and fewer features and put them in X.

In [19]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = mel_data[features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

Now time to choose our model from eskit_learn, and train(or fit) it with X and y

In [0]:
from sklearn.tree import DecisionTreeRegressor

#we write this below code to have single result in each run
model = DecisionTreeRegressor(random_state=1)

Like a baby to lean which fruit is apple or banana :

**Features**: circle and colors

**Targets**: banana and apple

color + shape = fruite

red + circle = apple

In [20]:
#Training with featurs and target 
model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [25]:
print(X.head())

model.predict(X.head())

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

array([1035000., 1465000., 1600000., 1876000., 1636000.])

# Once we have a model, here is how we calculate the mean absolute error:

In [27]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

The Problem with "In-Sample" Scores
The measure we just computed can be called an "**in-sample**" score. We used a single "sample" of houses for both building the model and evaluating it. this is bad and can not give us a accurate value for non seen data.

Since models' practical value come from making predictions on new data, we measure performance on data that wasn't used to build the model. The most straightforward way to do this is to exclude some data from the model-building process, and then use those to test the model's accuracy on data it hasn't seen before. This data is called **validation data**.


The scikit-learn library has a function **train_test_split** to break up the data into two pieces. We'll use some of that data as training data to fit the model, and we'll use the other data as validation data to calculate mean_absolute_error.

In [0]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# the random_state argument guarantees we get the same split every time we

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

Time to train our model with traing features as X and training target as y !

In [31]:
model = DecisionTreeRegressor()
model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

Time to predict for unseen data named as val or validation data

In [0]:
val_prediction = model.predict(val_X)

Time to find MAE between actual(y) and predicted (X) both from unseen data : val_y and val_X

In [35]:
print(mean_absolute_error(val_y, val_prediction))

272859.54443727137

There are many ways to improve this model, such as experimenting to find** better features** or **different model types**.