<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/My_First_Model_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from google.colab import files

uploaded = files.upload()

Saving melb_data.csv to melb_data (1).csv

In [15]:

mel_data = pd.read_csv("melb_data.csv")
mel_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [32]:
mel_data.describe()

             Rooms         Price  ...   Longtitude  Propertycount
count  6196.000000  6.196000e+03  ...  6196.000000    6196.000000
mean      2.931407  1.068828e+06  ...   144.990201    7435.489509
std       0.971079  6.751564e+05  ...     0.099165    4337.698917
min       1.000000  1.310000e+05  ...   144.542370     389.000000
25%       2.000000  6.200000e+05  ...   144.926198    4383.750000
50%       3.000000  8.800000e+05  ...   144.995800    6567.000000
75%       4.000000  1.325000e+06  ...   145.052700   10175.000000
max       8.000000  9.000000e+06  ...   145.526350   21650.000000

[8 rows x 13 columns]

In [0]:
mel_data= mel_data.dropna(axis=0)
y= mel_data.Price

In [27]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = mel_data[features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [25]:
from sklearn.tree import DecisionTreeRegressor
my_model = DecisionTreeRegressor(random_state=1)
my_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [31]:
print(X.head())
my_model.predict(X.head())

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

array([1035000., 1465000., 1600000., 1876000., 1636000.])