<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/Panda_Creating_Writing_Reading_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[IO Tools (Text, CSV, HDF5, …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

The IO Tools section of the official pandas docs provides a comprehensive overview on this subject.

**Creating data:**

There are two core objects in pandas: the **DataFrame** and the **Series**.

**DataFrame** is a **Table** ! We use **dictionary** !

In [0]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes': [10,20] , 'No':[51,98]})

   Yes  No
0   10  51
1   20  98

In [8]:
pd.DataFrame({'Hassan':['Dubai', 'Hungary','Spain'], 'Elnaz':['Turkey', 'Thailand','']})

    Hassan     Elnaz
0    Dubai    Turkey
1  Hungary  Thailand
2    Spain

The list of row labels used in a DataFrame is known as an **Index**. We can assign values to it by using an index parameter in our constructor:

In [10]:
pd.DataFrame({'House one':['Two Bedrooms', 'One Kitchen'], 'House two': ['One Yard', 'One living Room']}, index=['Feature One', 'Feature Two'])

                House one        House two
Feature One  Two Bedrooms         One Yard
Feature Two   One Kitchen  One living Room

A **Series**, by contrast, is a sequence of data values. If a DataFrame is a table, **a Series is a list**. And in fact you can create one with nothing more than a list:

In [11]:
pd.Series([50,52,68,99])

0    50
1    52
2    68
3    99
dtype: int64

A **Series** is, in essence, a **single column of a DataFrame**. So you can assign column values to the Series the same way as before, using an index parameter. However, a Series do not have a column name, it only has one overall name.

Series and the DataFrame are intimately related. It's helpful to think of a **DataFrame as actually being just a bunch of Series** "glue together".

In [12]:
pd.Series(['Sanaz', 'Elnaz', 'Farnaz'], index=['Child 1', 'Child 2', 'Child 3'])

Child 1     Sanaz
Child 2     Elnaz
Child 3    Farnaz
dtype: object

**Reading common file formats:**

So a CSV file is a table of values separated by commas. Hence the name: "**comma-seperated values**", or CSV.

[Importing CSV Files from desktop to python](https://datatofish.com/import-csv-file-python-using-pandas/)

In [17]:
 # read the csv file (put 'r' before the path string to address any special characters, such as '\'). 
 # Don't forget to put the file name at the end of the path + ".csv"

    #df = pd.read_csv (r'C:\Users\Ron\Desktop\Clients.csv') 
my_file = pd.read_csv (r'C:\Users\user\Desktop\winemag-data-130k-v2.csv')

FileNotFoundError: ignored

In [18]:
from google.colab import files
my_file = files.upload()

Saving winemag-data-130k-v2.csv to winemag-data-130k-v2.csv

In [0]:
wine_reviews = pd.read_csv('winemag-data-130k-v2.csv')

We can use the **shape** attribute to check how large the resulting DataFrame is:

In [21]:
wine_reviews.shape  
 #Rows : 129971
 #columns: 14

(129971, 14)

We can examine the contents of the resultant DataFrame using the **head** command, which grabs the **first five rows**:

In [22]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

The pandas read_csv function is well-endowed, with over 30 optional parameters you can specify. 

For example, you can see in this dataset that the csv file has an in-built index, which pandas did not pick up on automatically. 

To make pandas use that column for the index (instead of creating a new one from scratch), we may specify and use an **index_col**

In [25]:
wine_reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)  # Only we can put 0 like itself otherwize it will not be good shaped.
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

First up, the venerable **Excel** spreadsheet.

An Excel file (XLS or XLST) organizes itself as a sequence of named sheets. Each sheet is basically a table. So to load the data into pandas we need one additional parameter: the **name of the sheet of interest**.

In [38]:
upload = files.upload()

Saving WICAgencies2013ytd.xls to WICAgencies2013ytd.xls

In [0]:

wic = pd.read_excel("WICAgencies2013ytd.xls", 
                    sheet_name='Total Women')

**SQL databases** are where most of the data on the web ultimately gets stored. They can be used to store data on things as simple as recipes to things as complicated as "almost everything on the Kaggle website".

Connecting to a SQL database requires a lot more thought than reading from an Excel file. For one, you need to **create a connector,** something that will handle siphoning data from the database.

pandas won't do this for you automatically because there are many, many different types of SQL databases out there, each with its own connector.

So for a **SQLite database** (the only kind supported on Kaggle), you would need to first do the following (using the  sqlite3 library that comes with Python):

In [0]:
import sqlite3
upload = files.upload()

In [0]:
conn = sqlite3.connect("FPA_FOD_20170508 (1).sqlite")

The other thing you need to do is write a SQL statement. Internally, SQL databases all operate very differently. Externally, however, they all provide the same API, the "Structured Query Language" (or...SQL...for short).

We (very briefly) need to use SQL to load data into

For the purposes of analysis however we can usually just think of a SQL database as a set of tables with names, and SQL as a minor inconvenience in getting that data out of said tables.

So, without further ado, here is all the SQL you have to know to get the data out of SQLite and into pandas:

In [0]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)

Every SQL statement begins with **SELECT**. The asterisk **(*)** is a wildcard character, meaning "**everything**", and **FROM** fires tells the database we want only the data from the fires table specifically.

In [0]:
fires.head()

**Writing common file formats**

Writing data to a file is usually easier than reading it out of one, because pandas handles the nuisance of conversions for you.

We'll start with CSV files again. The opposite of read_csv, which reads our data, is **to_csv**, which writes it. With CSV files it's dead simple:

In [0]:
wine_reviews.head().to_csv("wine_reviews.csv")

To write an Excel file back you need to_excel and the sheet_name again:

In [0]:
wic.to_excel('wic.xlsx', sheet_name='Total Women')

And finally, to output to a SQL database, supply the name of the table in the database we want to throw the data into, and a connector:

In [0]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)