<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/Panda_R_W_C_EX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
pd.Series(['4 cups','1 cup','2 large','1 can'], index=['Flour','Milk','Eggs','Spam'], name= 'Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:
# Or we can write like this:

quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
pd.Series(quantities, index=items, name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [7]:
pd.DataFrame({'Cow':[50,98], 'Goat':[23,55]}, index=['Year:2015', 'Year:2019'])

           Cow  Goat
Year:2015   50    23
Year:2019   98    55

In [0]:
animal= pd.DataFrame({'Cow':[50,98], 'Goat':[23,55]}, index=['Year:2015', 'Year:2019'])

In [0]:
animal.to_csv('my_created_file.csv')  #save in colab