<a href="https://colab.research.google.com/github/ElnazDi/colab/blob/master/Pandas_Indexing_Selecting_Assigning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [0]:
import pandas as pd
reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
pd.set_option('display.max_rows', 5)

In [12]:
rewies.columns # Whatchin all cols in our DataFrame

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

**Easy Ways to Access (Series or columns) from A DataFrame**

You're probably familiar with a general Python pattern of accessing an **object attribute:** If a book object has a title property, you can access it by calling book.title. Columns in a DataFrame work the same way.

In [13]:
reviews.country  # One of the cols

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Similarly, you are likely familiar with the "bracket" access to **dictionary objects**. You can access DataFrame columns in a similar way with the indexing ([]) operator. This "just works":

In [14]:
# Or this way:
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Doesn't a pandas Series look kind of like a fancy dict? It pretty much is, so it's no surprise that, to drill down to a single specific value, we need only use the indexing operator [] once more:

In [15]:
reviews['country'][0]

'Italy'

In [16]:
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]


# Index-based selection

I want the first row of this DataFrame.

In [17]:
reviews.iloc[0]   #First Row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [19]:
reviews.shape   #cols = 13

(129971, 13)

In [21]:
reviews.loc[0]  #First Row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [25]:
reviews.iloc[:, 0]   # All rows from first columns    [row, col]  : means all

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [26]:
#or this way
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [27]:
#or this way
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [28]:
reviews.iloc[:3, 0]   # [row, col]  :3 means the 0,1,2 rows

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [30]:
# or this way
reviews.iloc[[0,1,2],0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [31]:
reviews.iloc[[0,1,2],[0]]

    country
0     Italy
1  Portugal
2        US

In [32]:
#or this way
reviews.iloc[1:3, 0]    # Row: 1,2   col:0

1    Portugal
2          US
Name: country, dtype: object

Finally, it's worth knowing that negative numbers can be used in selection. 

This will start counting forwards from the end of the values. So for example here are the last five elements of the dataset.

In [36]:
reviews.iloc[-5:]  # row last 5   col all of them

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

In [37]:
reviews.iloc[-5:, :]  # row last 5   col all of them

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

# Lable-based selection

You can use the loc operator for label-based selection. This uses the data index value, not its position.

In [40]:
reviews.iloc[0, 0]

'Italy'

In [42]:
reviews.loc[0, 'country']  # We can not use numbers for calling cols only their lable

'Italy'

In [45]:
reviews.loc[:, ['points','price', 'title']]

        points  price                                              title
0           87    NaN                  Nicosia 2013 Vulkà Bianco  (Etna)
1           87   15.0      Quinta dos Avidagos 2011 Avidagos Red (Douro)
...        ...    ...                                                ...
129969      90   32.0      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970      90   21.0  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

[129971 rows x 3 columns]

# Manipulating the index

In [47]:
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [48]:
reviews.set_index('title')

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

# Conditional selection

In [50]:
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [52]:
reviews.loc[reviews.country == 'Italy']

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [54]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

In [55]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

pandas comes with a few pre-built conditional selectors, two of which we will highlight here. The first is **isin**. isin is lets you select data whose value "is in" a list of values. For example, here's how we can use it to select wines only from Italy or France:

In [58]:
reviews.loc[reviews.country.isin(['France', 'Italy'])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

The second is **isnull** (and its companion **notnull**). These methods let you highlight values which are or are not empty (NaN). For example, to filter out wines lacking a price tag in the dataset, here's what we would do:

In [59]:
reviews.loc[reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

# Assigning data

In [62]:
reviews['critics']= 'everyone'
reviews['critics']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critics, Length: 129971, dtype: object

In [63]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

In [69]:
pd.DataFrame([{'country':[] , 'provience':[] , 'region_1':[] , 'region_2':[] }], index=[0,1,10,100])

    country provience region_1 region_2
0        []        []       []       []
1        []        []       []       []
10       []        []       []       []
100      []        []       []       []

In [72]:
reviews.loc[[0,1,10,100],['country', 'province', 'region_1', 'region_2']]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [74]:
cols = ['country', 'province', 'region_1', 'region_2']
indices = [0, 1, 10, 100]
reviews.loc[indices, cols]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [76]:
reviews.loc[:99, ['country', 'variety']]

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]